{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Club index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>ShortName</th>
                <th>Code</th>
                <th>Country</th>
                <th>City</th>
                <th>League</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ club.name }}</td>
                <td>{{ club.shortName }}</td>
                <td>{{ club.code }}</td>
                <td>{{ club.country }}</td>
                <td>{{ club.city }}</td>
                <td>{{ club.league.shortName }}</td>
                <td>
                    <a href="{{ path('app_club_show', {'id': club.id}) }}">show</a>
                    <a href="{{ path('app_club_edit', {'id': club.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_club_new') }}">Create new</a>
{% endblock %}
